header {
    width: 100%;
}

.forms {
    display: inline-block;
    padding: 5%;
}
.header {
    display: inline-block;
    padding: 2%;
    width: max-width;
}

.header-login {
    text-align: center;
}

.header-register {
    float: right;
}