<div class = "container-fluid" style = background-color:#DCDCDC>
  <div class="row bg">
    <div class="col-lg-12">
      <img src="src/assets/market.jpg">
      <h1 class="mt-5 text-center main-header" >Find fresh ingredients near you!</h1>
    </div>
  </div>
  <div class="row map">
    <div class="col-lg-12">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="13">
      <agm-marker [latitude]=53.186566 [longitude]=-6.104632 [label]="title1"></agm-marker>
      <agm-marker [latitude]=53.245136 [longitude]=-6.194585 [label]="title2"></agm-marker>
      <agm-marker [latitude]=53.330699 [longitude]=-6.238876 [label]="title3"></agm-marker>
      <agm-marker [latitude]=53.332339 [longitude]= -6.342216 [label]="title4"></agm-marker>
      <agm-marker [latitude]=53.368387 [longitude]= -6.360757 [label]="title5"></agm-marker>
      <agm-marker [latitude]=53.381475 [longitude]= -6.176738 [label]="title6"></agm-marker>
    </agm-map>
</div>
</div>

</div>
