<div class="box">
<div class="text">
<h1>About</h1>
<p>This project is designed to help you eat in a healthier and more sustainable way.
    Cooking food that is in season means you get more nutrients and your food is fresher. 
    It also means you can eat locally sourced food without lots of airmiles,
    making seasonal eating a more sustainable and environmentally friendly choice.
    Our site has some helpful added features to make things easier for you,
    such as a map showing your nearest farmers' markets where you can source your fresh vegetables.
    We have also included a favourites feature so you will have no trouble finding the recipes you love again.
    We hope you enjoy our site, happy cooking!
</p>
</div>
</div>
